.footer {
  background-color: var(--gray);
}

.footer__content {
  margin: auto;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 1400px;
  padding: 0 20px;
}

.footer__top {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 20px;
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer__bottom {
  width: 100%;
  margin-bottom: 44px;
}

.footer__copyright {
  margin-top: 32px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  opacity: .4;
  text-align: center;
}

.footer__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__logo {
  position: relative;
  z-index: 2;

  cursor: pointer;

  width: 150px;

  img {
    width: 100%;
    height: 100%;
  }
}

.footer__line {
  background-color: #9FA0A1;
  height: 1px;
  width: 100%;
}

@media (max-width: 992px) {
  .footer__top {
    flex-direction: column;
    margin-top: 25px;
  }

  .footer__bottom {
    margin-bottom: 25px;
  }

  .footer__nav {
    flex-direction: column;
    gap: 30px;
  }

  .footer__logo {
    width: 100px;
  }
}

@media (max-width: 568px) {
  .footer__nav {
    flex-direction: column;
    gap: 20px;
  }

  .footer__buttons {
    flex-direction: column;
  }
}

